# Custom component config
menu "esp-button"
    config BUTTON_DEBOUNCE_MS
        int "Debounce interval (ms)"
        default 50
        help
            In certain configs (including default), event might be also delayed by this value.

    config BUTTON_LONG_PRESS_ENABLE
        bool "Long-press support"
        default y
        help
            Disable to remove long-press logic completely, saving few bytes in the IRAM.

    config BUTTON_ISR_IN_IRAM
        bool "ISR in IRAM"
        default n
        help
            When GPIO interrupt service is initialized with ESP_INTR_FLAG_IRAM, handlers needs to be in IRAM.
endmenu
